<div class="container">
  <h3 class="text-primary text-center">Angular 17 upload | download application. </h3><hr/>
</div>
<div class="container">

<label>User Name</label> <input class="form-control" type="text" [(ngModel)]="userName"/>
<input class="form-control" type="file" [(ngModel)]="selectedFile"
(change)="onFileSelected($event)"
/>
<button (click)="save()" class="btn btn-primary">Save</button>

  <div class="row">
    <div class="col-md-4" *ngFor="let user of userList">
    <div class="card text-center" style="width: 200px; height: 300px;">
     <img src="#" alt="Title" class="card-img-top" style="width: 100%; height: 100%;" [src]="'data:image/png;base64,'+user.displayPicture"/>
     <div class="card-body">
      <h4 class="card-title">{{user.userName}}</h4>
     </div>
    </div>
    </div>
  </div>
</div>